.no-gutters{
    box-shadow: 1px 2px 8px #e3e3e3;
}
.card{
    border: none;
}
.app-title{
    justify-content: center;
    text-align: center;
    transform: translate(50%, 50%);
    position: absolute;
    right: 50%;
    top: 35%;
    font-size: 30px;
}
